<aside class="hf-sidebar">
  <nav class="hf-nav">
    <button
      *ngFor="let item of primaryNavItems"
      type="button"
      class="hf-row"
      [class.active]="isItemActive(item)"
      (click)="onPrimaryNavClick(item)">
      <fa-icon class="hf-icon" [icon]="item.icon"></fa-icon>
      <span>{{item.label}}</span>
    </button>
  </nav>

  <div class="hf-home-subitems">
    <button
      *ngFor="let item of homeSubItems"
      type="button"
      class="hf-row hf-sub-row"
      [class.active]="isItemActive(item)"
      (click)="onHomeSubItemClick(item)">
      <fa-icon class="hf-icon" [icon]="item.icon"></fa-icon>
      <span>{{item.label}}</span>
    </button>
  </div>

  <hr class="hf-divider" />

  <section class="hf-section">
    <div class="hf-section-header">
      <span>TOPICS</span>
    </div>
    <button type="button" class="hf-row hf-action-row hf-topic-month-row" (click)="goToMonthlyTopic()">
      <span>{{monthlyTopicLabel}}</span>
    </button>
    <button type="button" class="hf-row hf-action-row" (click)="goToCurrentTopic()">
      <span>{{weeklyTopicLabel}}</span>
    </button>
    <button type="button" class="hf-row hf-action-row" (click)="goToTopicArchive()">
      <fa-icon class="hf-icon" [icon]="faCompass"></fa-icon>
      <span>Discover previous Topics</span>
    </button>
  </section>

  <hr class="hf-divider" />

  <button type="button" class="hf-row hf-action-row" (click)="goToCreateSubreddit()">
    <fa-icon class="hf-icon" [icon]="faPlus"></fa-icon>
    <span>Start a community</span>
  </button>

  <button type="button" class="hf-row hf-action-row" (click)="goToMyComments()">
    <fa-icon class="hf-icon" [icon]="faComments"></fa-icon>
    <span>My comments</span>
  </button>

  <hr class="hf-divider" />

  <section class="hf-section">
    <div class="hf-section-header">
      <span>COMMUNITIES</span>
      <fa-icon [icon]="faChevronDown"></fa-icon>
    </div>
    <button
      *ngFor="let item of communityItems"
      type="button"
      class="hf-row"
      (click)="onCommunityClick(item)">
      <span class="hf-community-avatar" [class.placeholder]="!hasCommunityAvatar(item)">
        <img *ngIf="hasCommunityAvatar(item)" [src]="item.avatarImageUrl" [alt]="item.name">
        <span *ngIf="!hasCommunityAvatar(item)">{{getCommunityInitial(item)}}</span>
      </span>
      <span>{{item.name}}</span>
    </button>

    <button type="button" class="hf-row hf-action-row" (click)="goToCommunityDirectory()">
      <fa-icon class="hf-icon" [icon]="faCompass"></fa-icon>
      <span>Discover More Communities</span>
    </button>
  </section>
</aside>
