<header>
    <nav class="navbar fixed-top navbar-expand-lg hf-navbar">
        <div class="hf-navbar-inner">
            <a aria-label="Home" class="logo" routerLink="/">
                <span class="reddit-text">
                    Humanfirst
                </span>
            </a>

            <div class="hf-nav-actions">
                <a aria-label="Create post" class="create-link" routerLink="/create">
                    <fa-icon [icon]="faPlus"></fa-icon>
                    <span>Create</span>
                </a>

                <button
                    *ngIf="isLoggedIn"
                    type="button"
                    aria-label="My Communities"
                    class="create-link secondary-link"
                    (click)="goToMyCommunities()">
                    <fa-icon [icon]="faUsers"></fa-icon>
                    <span>My Communities</span>
                </button>

                <div *ngIf="isLoggedIn" ngbDropdown class="user-menu">
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button (click)="goToMyPosts()" ngbDropdownItem>My Posts</button>
                        <button (click)="goToMyLikes()" ngbDropdownItem>My Likes</button>
                        <button (click)="goToMyComments()" ngbDropdownItem>My Comments</button>
                        <button (click)="goToUserProfile()" ngbDropdownItem>My Profile</button>
                        <button (click)="logout()" ngbDropdownItem>Logout</button>
                    </div>
                    <button class="userdetails" id="dropdownBasic1" ngbDropdownToggle>
                        <img class="account-icon" src="https://www.redditstatic.com/avatars/avatar_default_08_D4E815.png">
                        {{username}}
                    </button>
                </div>

                <div *ngIf="!isLoggedIn" class="auth-links">
                    <a routerLink="/sign-up" class="hf-auth-link sign-up">Sign up</a>
                    <a routerLink="/login" class="hf-auth-link login">Login</a>
                </div>
            </div>
        </div>
    </nav>
</header>
