<div class="hf-post-card" *ngFor="let post of posts">
  <div class="hf-post-header">
    <div class="hf-post-meta">
      <button type="button" class="hf-community-link" (click)="goToCommunity(post)">h/{{getCommunityLabel(post)}}</button>
      <span class="hf-dot">•</span>
      <span class="hf-author">u/{{post.userName}}</span>
      <span class="hf-dot">•</span>
      <span>{{post.duration}}</span>
    </div>
    <button type="button" class="hf-overflow-btn" aria-label="Post actions">
      <fa-icon [icon]="faEllipsisH"></fa-icon>
    </button>
  </div>

  <div class="hf-post-title">
    <a class="hf-post-title-link" [routerLink]="getPostPath(post)">{{post.postName}}</a>
  </div>

  <a class="hf-post-link-preview" *ngIf="isExternalLinkPost(post)" [href]="post.url" target="_blank" rel="noopener noreferrer">
    {{post.url}}
  </a>

  <ng-container *ngIf="isMediaPost(post); else textPostBlock">
    <button type="button" class="hf-media-wrap" (click)="goToPost(post)" aria-label="Open post details">
      <ng-container *ngIf="isVideoPost(post); else imagePostBlock">
        <video class="hf-media-content" controls preload="metadata" [src]="post.videoUrl"></video>
        <div class="hf-media-badge">
          <fa-icon [icon]="faPlay"></fa-icon>
          <fa-icon [icon]="faVolumeMute"></fa-icon>
        </div>
      </ng-container>
      <ng-template #imagePostBlock>
        <img class="hf-media-content" *ngIf="getImageUrl(post) as imageUrl" [src]="imageUrl" [alt]="post.postName">
      </ng-template>
    </button>
  </ng-container>

  <ng-template #textPostBlock>
    <button type="button" class="hf-text-preview-btn" (click)="goToPost(post)">
      <p *ngIf="post.description" class="hf-text-preview" [innerHtml]="post.description"></p>
    </button>
  </ng-template>

  <div class="hf-post-footer">
    <app-vote-button [post]="post"></app-vote-button>

    <button type="button" class="hf-action-btn" (click)="goToPost(post)">
      <fa-icon [icon]="faComments"></fa-icon>
      <span>{{post.commentCount}}</span>
    </button>

    <button type="button" class="hf-action-btn">
      <fa-icon [icon]="faHeart"></fa-icon>
      <span>{{post.voteCount}}</span>
    </button>

    <button type="button" class="hf-action-btn" (click)="sharePost(post)">
      <fa-icon [icon]="faShare"></fa-icon>
      <span>Share</span>
    </button>
  </div>
</div>
